<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Ruveyda Hilal Akcinar">
    <meta name="description" content="Hello! I am Ruveyda Hilal. Web Developer, WTM Ambassador and GDG Organizer">
    <meta name="keywords" content="Ruveyda Hilal Akçınar">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="website" />
    <meta property="og:description"
          content="Hello! I am Ruveyda Hilal. Web Developer, WTM Ambassador and GDG Organizer" />
    <meta property="og:site_name" content="Ruveyda Hilal Akçınar" />
    <meta property="og:locale" content="tr" />
    <meta property="og:type" content="media" />
    <meta property="og:url" content="http://ruveydaakcinar.com/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="language" content="Turkish">
    <meta name="robots" content=”nosnippet” />
    <title>Ruveyda Hilal AKÇINAR</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/CvTemplate/css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="~/CvTemplate/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="~/CvTemplate/css/main.css?ver=1.1.0" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9JQGE8G2WH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-9JQGE8G2WH');
    </script>

    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NV7K47M');
    </script>
    <!-- End Google Tag Manager -->
</head>