<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1" lang="en">
    <title>Ruveyda Hilal AKÇINAR</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/CvTemplate/css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="~/CvTemplate/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="~/CvTemplate/css/main.css?ver=1.1.0" rel="stylesheet">
</head>