
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">

@await Html.PartialAsync("HeaderPartial")


<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NV7K47M" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <header>
        @await Html.PartialAsync("NavbarPartial")
    </header>

    <div class="page-content">
        <div>
            @await Component.InvokeAsync("FeatureList")

            @await Component.InvokeAsync("AboutList")

            @await Component.InvokeAsync("SkillList")

            @await Component.InvokeAsync("ExperienceList")


            <div class="section" id="education">
                <div class="container cc-education">
                    <div class="h4 text-center mb-4 title">Education</div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body cc-education-header">
                                    <p>2018-2022</p>
                                    <div class="h5">Duzce Universty</div>
                                </div>
                            </div>
                            <div class="col-md-4 center" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body">
                                    <div class="h5">Licence</div>
                                    <p class="category">Management Information System</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body cc-education-header">
                                    <p>2014 - 2018</p>
                                    <div class="h5">Çağdaş Atılım Collage</div>
                                </div>
                            </div>
                            <div class="col-md-4" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body">
                                    <div class="h5">High school</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @await Component.InvokeAsync("PortfolioList")
            @await Component.InvokeAsync("SpeakerList")


            @await Component.InvokeAsync("CertficateList")
            <div class="section" id="contact">
                <div class="cc-contact-information">
                    <div class="container">
                        <div class="cc-contact">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card mb-0" data-aos="zoom-in">
                                        <div class="h4 text-center title">Contact Me</div>
                                        <div class="row">
                                            @* @await Component.InvokeAsync("SendMessage")*@
                                            <div class="col-md-8">
                                                @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")

                                            </div>
                                            <div class="col-md-4 mt-5">
                                                @await Component.InvokeAsync("ContactDetails")
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("FooterList")
        @await Component.InvokeAsync("ScriptList")
    </div>
</body>

</html>