@model EntityLayer.Concrete.Announcement
@{
    ViewData["Title"] = "AnnouncementDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Announcement Details</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Content</label>
                    <textarea type="text" asp-for="Content" class="form-control" rows="5" id="exampleInputName1" placeholder="Content"></textarea>
                </div>

                <a href="/WriterArea/WriterDefault/Index" role="button" class="btn btn-inverse-danger">Cancel</a>
            </form>

        </div>
    </div>
</div>
