@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
        @await Component.InvokeAsync("FeatureStatistic")
    <div class="row">
        @await Component.InvokeAsync("Last5Talks")

        @await Component.InvokeAsync("Last5Project")
    </div>
        @await Component.InvokeAsync("StaticticsDashboard2")

    <div class="row">
        @await Component.InvokeAsync("MessageList")
        @await Component.InvokeAsync("SlideList")
        @await Component.InvokeAsync("TodoListPanel")
    </div>
        @await Component.InvokeAsync("ScriptList")

</body>
</html>