@model Core_Portfolio.Areas.WriterArea.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Profile Information</h4>
            <p class="card-description">
                Basic form elements
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Surname</label>
                    <input type="text" asp-for="Surname" class="form-control" id="exampleInputName1" placeholder="Surname">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Confirm Password">
                </div>
                
                <div class="form-group">
                    <label asp-for="Picture" class="control-label"></label>
                </div>
                
                <div class="custom-file">
                    <input type="file" asp-for="Picture" class="custom-file-input" id="customFile">        
                    <label class="custom-file-label" for="customFile" >Choose file</label>
                </div>
           
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>

        </div>
    </div>
</div>

@*@section scripts{
    <script>

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var UserImage = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(UserImage);
        });
    </script>
}*@

