@model Core_Portfolio.Areas.WriterArea.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Profile Information</h4>
           
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Surname</label>
                    <input type="text" asp-for="Surname" class="form-control" id="exampleInputName1" placeholder="Surname">
                </div>
                
                <div class="form-group">
                    <label asp-for="Picture" class="control-label"></label>
                    <div class="custom-file">
                        <input type="file" asp-for="Picture" class="custom-file-input" id="customFile" onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this)">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <img id="PreviewPhoto" src="~/UserImage/@Model.PictureURL" alt="Logo Image" width="125" height="125" style="border:1px; margin-top:20px;" />
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
