<ul class="nav">
    <li class="nav-item profile">
        <div class="profile-desc">
            <div class="profile-pic">
                <div class="count-indicator">
                    <img class="img-xs rounded-circle " src="~/new-dashboard -template/template/assets/images/faces/face15.jpg" alt="">
                    <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">Ruveyda H. Akçınar</h5>
                    <span>Admin</span>
                </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-settings text-primary"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-onepassword  text-info"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-calendar-today text-success"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                    </div>
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Dashboard/Index">
            <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Admin</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/ui-features/buttons.html">Register</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/ui-features/dropdowns.html">Login</a></li>
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/ui-features/typography.html">Sign out</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/About/">
            <span class="menu-icon">
                <i class="mdi mdi-theater"></i>
            </span>
            <span class="menu-title">About</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Certficate/">
            <span class="menu-icon">
                <i class="mdi mdi-page-previous"></i>
            </span>
            <span class="menu-title">Certificate</span>
        </a>
    </li>

    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience/">
            <span class="menu-icon">
                <i class="mdi mdi-account-check"></i>
            </span>
            <span class="menu-title">Experience</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Feature/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Feature</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/ReceiverMessageList">
            <span class="menu-icon">
                <i class="mdi mdi-message-reply-text"></i>
            </span>
            <span class="menu-title">Inbox</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/SenderMessageList">
            <span class="menu-icon">
                <i class="mdi mdi-message-text"></i>
            </span>
            <span class="menu-title">Outbox</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ContactMessage/">
            <span class="menu-icon">
                <i class="mdi mdi-phone"></i>
            </span>
            <span class="menu-title">Contact</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Skill/">
            <span class="menu-icon">
                <i class="mdi mdi-account-box-multiple"></i>
            </span>
            <span class="menu-title">Skill</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SocialMedia/">
            <span class="menu-icon">
                <i class="mdi mdi-instagram"></i>
            </span>
            <span class="menu-title">Social Media</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Speaker/">
            <span class="menu-icon">
                <i class="mdi mdi-microphone"></i>
            </span>
            <span class="menu-title">Talks & Workshops</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Portfolio/">
            <span class="menu-icon">
                <i class="mdi mdi-bag-personal"></i>
            </span>
            <span class="menu-title">Portfolio</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
                <i class="mdi mdi-nature-people"></i>
            </span>
            <span class="menu-title">User Pages</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/samples/blank-page.html"> Blank Page </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/samples/error-500.html"> 500 </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="~/new-dashboard -template/template/pages/samples/register.html"> Register </a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Default/">
            <span class="menu-icon">
                <i class="mdi mdi-door-open"></i>
            </span>
            <span class="menu-title">Go to site</span>
        </a>
    </li>
</ul>
