@model Core_Portfolio.Areas.WriterArea.Models.UserEditViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Change Password</h3>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Surname</label>
                    <input type="text" asp-for="Surname" class="form-control" id="exampleInputName1" placeholder="Surname">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Current Password</label>
                    <input type="text" asp-for="CurrentPassword" class="form-control" id="exampleInputName1" placeholder="Current Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">New Password</label>
                    <input type="text" asp-for="NewPassword" class="form-control" id="exampleInputName1" placeholder="New Password">
                </div>
                @*<div class="form-group">
                    <label for="exampleInputPassword4">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="exampleInputName1" placeholder="Confirm Password">

                </div>*@


                <a class="btn btn-inverse-info" href="/WriterArea/WriterDashboard/">Change Password</a>

            </form>

        </div>
    </div>
</div>