@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-inverse-primary">Get Data</button>
        <button type="button" id="btnadduser" class="btn btn-inverse-warning">Save</button>
    </div>

</div>

<h4 class="text-center">Writer List</h4>
<div class="p-2" id="listuser">
    Data will come here
</div>

<br />

<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Name" />
    <br />
    <input type="text" class="form-control" id="inpsuname" placeholder="Surname" />
    <br />
    <input type="text" class="form-control" id="inpusername" placeholder="Username" />
    <br />
    <input type="text" class="form-control" id="inpmail" placeholder="Mail Adress" />

</div>
@section Scripts{
    <script>
        $("#getlistall").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/WriterUser/ListUser/",

                success: function (funk) {
                    let users = jQuery.parseJSON(funk);
                    console.log(users);
                }
            });
        });
    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>