<footer class="footer">
    <div class="container text-center">
        <div class="button-container">
            @await Component.InvokeAsync("SocialMediaList")
        </div>

    </div>
    <div class="h4 title text-center">Ruveyda Hilal AKÇINAR</div>
    <div class="text-center text-muted">
        <p>
            &copy; R.H.A. All rights reserved.<br> <a class="credit" href="http://ruveydaakcinar.com/" target="_blank">Ruveyda Hilal AKÇINAR</a>
        </p>
    </div>
</footer>
