@using EntityLayer.Concrete
@model List<Experience>

    <div class="section" id="experience">
        <div class="container cc-experience">
            <div class="h4 text-center mb-4 title">Experiences</div>
            @foreach (var experience in Model)
            {
            <div class="card">
                <div class="row">
                  
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                            <p>@experience.Date</p>
                            <div class="h5 text-uppercase">@experience.CompanyName</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">@experience.Title</div>
                            <p>
                                @experience.Description
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            }
        </div>
    </div>
