@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "ReceiverMessageList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User-Admin Inbox</h4>
            <div class="table-responsive">

                <table class="table">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sender</th>
                            <th>Subject</th>
                            <th>Date</th>
                            <th>Delete</th>
                            <th>Message Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var writerMessage in Model)
                        {
                        <tr>
                            <td>@writerMessage.WriterMessageId</td>
                            <td>@writerMessage.SenderName</td>
                            <td>@writerMessage.Subject</td>
                            <td>@writerMessage.Date</td>
                            <td>
                                <a href="/AdminMessage/AdminMessageDelete/@writerMessage.WriterMessageId" class="btn btn-outline-danger">Delete</a>
                            </td>
                            <td>
                                <a href="/AdminMessage/AdminMessageDetails/@writerMessage.WriterMessageId" class="btn btn-outline-success">Message Details</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <a href="/AdminMessage/AdminMessageSend" class="btn btn-outline-info">Create New Message</a>
            </div>

        </div>
    </div>
</div>

