@using EntityLayer.Concrete
@model List<Portfolio>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title mb-1">Last 5 Project</h4>
                <p class="text-muted mb-1">Your data status</p>
            </div>
            <div class="row">
                @foreach (var portfolio in Model)
                {
                    <div class="col-12">
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                               
                                    <div class="preview-thumbnail">
                                        <img src="@portfolio.Platform" alt="image" class="rounded-circle" />
                                    </div>
                               

                                <div class="preview-item-content d-sm-flex flex-grow">

                                    <div class="flex-grow">
                                        <h6 class="preview-subject text-uppercase">@portfolio.Name</h6>
                                        <p class="text-muted mb-0">@portfolio.ProjectUrl</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
